{{define "aui-head"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://aui-cdn.atlassian.com/aui-adg/5.9.21/js/aui.min.js"></script>
<link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.21/css/aui.min.css" media="all">
{{end}}
