{{define "google-head"}}{{if .GoogleClientID}}
	<meta name="google-signin-scope" content="profile email https://www.googleapis.com/auth/youtube.readonly">
	<meta name="google-signin-client_id" content="{{.GoogleClientID}}">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
{{end}}{{end}}

{{define "google"}}{{if .GoogleClientID}}
	<div class="loginbtn g-signin2" data-onsuccess="onGoogleSignIn" data-width="300" data-theme="light"></div>
	<script>
		{{/* http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript */}}
		var urlParams;
		(window.onpopstate = function () {
			var match,
			pl     = /\+/g,  // Regex for replacing addition symbol with a space
			search = /([^&=]+)=?([^&]*)/g,
			decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
			query  = window.location.search.substring(1);

			urlParams = {};
			while (match = search.exec(query)) {
				urlParams[decode(match[1])] = decode(match[2]);
			}
		})();

		function onGoogleSignIn(googleUser) {
			{{/*
			// Useful data for your client-side scripts:
			var profile = googleUser.getBasicProfile();
			console.log("ID: " + profile.getId()); // Don't send this directly to your server!
			console.log('Full Name: ' + profile.getName());
			console.log('Given Name: ' + profile.getGivenName());
			console.log('Family Name: ' + profile.getFamilyName());
			console.log("Image URL: " + profile.getImageUrl());
			console.log("Email: " + profile.getEmail());
			*/}}

			var id_token = googleUser.getAuthResponse().id_token;
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/googlelogin');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			{{if .TargetOrigin}}
				xhr.onreadystatechange = function() {
					if(xhr.readyState == 4 && xhr.status == 200) {
						window.parent.postMessage(xhr.responseText, {{.TargetOrigin}});
						if ("roleUpgrade" in urlParams) {
							window.close();
						}
					}
				};
			{{end}}
			var params = 'id_token=' + id_token;
			if ("room" in urlParams) {
				params += '&room=' + urlParams["room"];
			}
			xhr.send(params);
		};
	</script>
{{end}}{{end}}
