<!doctype HTML>
<html {{if .Lang}}lang="{{.Lang}}" xml:lang="{{.Lang}}"{{end}}>
	<head>
		{{/*TODO: i18n*/}}
		<title>Login</title>
		<link href="/main.css" rel="stylesheet" type="text/css"/>
		{{template "google-head" .}}
		{{template "aui-head"}}
	</head>
	<body>
		<div id="buttons">
			<h1>Login</h1>
			{{template "google" .}}
			
			{{/*
			<div class="sep">or</div>
			{{template "userpass" .}}
			*/}}
			<div class="clear-line"></div>
		</div>
	</body>
</html>
