body {
	background-color: white;
}

.sep {
	text-align: center;
	margin-top: 3em;
	margin-bottom: 1em;
}

form label[for="password"], label[for="username"] {
	display: none !important;
}

form .checkbox {
	float: right;
}

.clear-line {
	border-bottom: 1px solid #ccc;
	clear: both;
	margin-top: 2em;
}

#buttons {
	height: 400px;
	margin: 0 auto;
	max-width: 500px;
	padding: 2em;
	width: 300px;
}

#buttons h1:before {
	background: no-repeat center/2em url("https://jitsi.org/logo/jitsi_logo.svg");
	content: "";
	display: block;
	height: 3em;
}

#buttons h1 {
	color: #205081;
	font-family: 'Circular Pro Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-bottom: 2em;
	text-align: center;
}

.loginbtn {
	margin: 0 auto;
	width: 300px;
}
